{% extends 'classifyingHat/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'classifyingHat/centered_box.css' %}">
{% block extra_css %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="bg-image"></div>

<header>
    <img class="page-text-logo" src="{% static 'classifyingHat/text_logo.png' %}" alt="The Classifying Hat logo">
</header>

<div class="center">
    {% block centered_content %}{% endblock %}
</div>

<footer>
    <p>Made with ❤️ by peprolinbot - <a href="https://codeberg.org/peprolinbot/classifying-hat" target="_blank">Source Code</a></p>
</footer>
{% endblock %}